@media(max-width: 850px) {
    .download-section .content{
        flex-direction: column;
    }

    .download-section .content .left{
        width:100%;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .download-section .content .right{
       display: none;
    }

    .black-button{
        height: 26px;
        width: 125px;
        border-radius: 4px;
        margin-top: 16px;
    }
    
    .black-button label {
        font-size: 1rem;
    }

    .download-button{
        height: 20px;
        margin: 4px;
    }


}

@media(max-width: 340px) {
    
}