@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


:root{
    --bodycolor : #efeee9;
    --primary : #042417;
    --highlight : rgb(94, 119, 96);
    --primaryfont : white;
    --highlightfont: white;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

a:link, a:active{
    text-decoration: none;
}

body{
    background-color: var(--bodycolor);
    padding-bottom: 70px;
}

.content{
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    background-color: var(--primary);
    justify-content: center;
    border-bottom: 1px solid black;
}

#menu-bar{
    display: flex;
    flex-direction: row;
    list-style: none;
}

#menu-bar li {
    color: var(--primaryfont);
    padding: 18px;
    font-size: 1.35rem;
    text-align: center;
    align-items: center;
    display: flex;
    cursor:pointer
}

#menu-bar li a{
    color: var(--primaryfont);
    text-decoration: none;
    font-weight: 200 !important;
}

#menu-bar li:hover{
    color: var(--highlightfont);
    background-color: var(--highlight);
    border-radius: 5px;
    font-size: 1.35rem;
}

.row{
    display: flex;
    flex-direction: row;
}

.spaced-items{
    justify-content: space-between;
    align-items: center;
}

#logo{
    width:50px
}

.social-media-icon{
    width:50px;
    padding: 10px;
}

.social-media-icon:hover{
   background-color: var(--primary);
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer-content{
    display:flex;
    justify-content: flex-end;
}

.download-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.download-section .right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
}

.download-section .left{
    display: flex;
    flex-direction: column;
    width: 59%;
    height: inherit;
}
.download-button{
    height: 50px;
    margin: 4px;
    margin-left: -12px;
}

.black-button{
    background-color: black;
    height: 58px;
    width: 200px;
    border-radius: 8px;
    margin-top: 16px;
    display: flex;
    align-items: center;;
}

.black-button label {
    font-size: 1.36rem;
    cursor: pointer;
}

.googleplay{
    height: 90px;
}

.center{
    display: flex;
    align-self: center;
}

.cellphone-print{
    height: 650px;
    width: auto;
    align-self: center;
}

.white {
    color: white;
}

.app-description {
    text-align: justify;
    font-size: 1.5rem;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.sobre-section, .section-whoarewe{
    display: flex;
}

.sobre-section .content, .section-whoarewe .content{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center
}

.sobre-section .content input{
    margin-top: 35px;
    font-size: 1.35rem;
    height: 50px;
    width: 150px
}

.att-section .content input{
    margin-top: 35px;
    font-size: 1.35rem;
    height: 50px;
    width: 250px
}

.sobre-section p {
    font-size: 1.3rem;
}

.titulo{
    font-size: 2rem;
}

.texto{
    margin: 15px;
    font-size: 1.5rem;
}


#profiles{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.profile{
    position:relative;
    border: 1px solid black;
    border-radius: 5px;
    height: 370px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px
}

.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px;
}

.profile a{
    position: absolute;
    bottom: 4px;
}

.profile p {
    margin: 15px;
    text-align: center;
}

.att-section .content{
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: left;
}

.att-section .content p, .att-section .content h1, .att-section .content ul li{
    width:fit-content;
} 

.att-section .content h1 {
    font-size: 2rem;
}

.att-section .content p {
    margin-top: 30px;
}

.att-section .content p, .att-section .content ul li {
    font-size: 1.5rem;
}

.info-section .content{
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.info-section .content h1{
    width: fit-content;
    font-size: 2rem;
}

.info-section .content p {
    margin-top: 30px;
    font-size: 1.5rem;
}

#questionguy{
    width: 500px;
}